@import '../App.scss';

.reconnecting {
    width: 100%;
    height: 100%;

    @include flexbox(column, center);

    & svg {
      width: 300px;
      fill: $color3;

      @media only screen and (max-width: 420px) {
        width: 80%;
      }
    }

    &__title {
        font-size: 30px;
        color: $color5;

        @media only screen and (max-width: 420px) {
          font-size: 22px;
        }
    }

    &__des {
      color: $color3;
      padding: 20px;
      @media only screen and (max-width: 420px) {
        ont-size: 12px;
      }
    }
    
}