// Colour palette variable
$color1: #0C1727;
$color2: #182C4A;
$color3: #46F3FF;
$color4: white;
$color5: #F9F9F9;
$color6: #0F203A;


// CSS Flex Box 
// *Arguments*
// pos : it defines the justify content
// dir : it defines the flex direction


@mixin flexbox($dir, $pos) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: center;  
}

@mixin grid($col_num) {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat($col_num, 1fr);
  gap: 35px;
}

// Transition function

@mixin transition($pty) {
  transition: $pty 240ms ease-out;
}

body,html{ 
  width: 100vw;
  height: 100vh;
 text-align: center;
 background-color: $color1;
 color: $color4;
}

.App{
    @include flexbox(column,center);
    align-items: unset;
    background-color: $color1;
    overflow: hidden;
}

.error {
  background-color: $color1;
  width: 100%;
  height: 100vh;
  @include flexbox(column,center);

  img {
    width: 50%;
    max-width: 500px;    
  }
}

#root{
  width: 100%;
  height: 100%;   
}